{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новости</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <div class="d-flex">
        <header>
            <div class="header-left">
                <h1>Новости поп культуры</h1>
            </div>
                <!-- Кнопки -->
                <div class="auth-buttons">
                    <a href="{% url 'login' %}" class="btn login-btn">Войти</a>
                    <a href="{% url 'register' %}" class="btn register-btn">Регистрация</a>
                </div>
                <!-- Поиск-->
                <form action="{% url 'search' %}" method="get" class="search-form">
                    <input type="text" name="q" placeholder="Поиск новостей..." class="search-input" value="{{ request.GET.q|default_if_none:'' }}">
                    <button type="submit" class="search-btn">Поиск</button>
                </form>
        </header>

        <!-- Сообщение "Не найдено по запросу" -->
        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <p class="message {{ message.tags }}">{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <!-- Sidebar -->
        <aside class="sidebar">
            <a href="{% url 'home_page' %}" class="btn btn-home">Главная</a>
            <a href="{% url 'category_list' %}" class="btn btn-home">Категории</a>
            <a href="{% url 'view_favorites' %}" class="btn btn-home">Избранное</a>
            <h2>Последние новости</h2>
            <ul class="news-list">
                {% for item in latest_news %}
                    <li>
                        <a href="{% url 'news_page' item.id %}">{{ item.title }}</a>
                    </li>
                {% empty %}
                    <li>Нет новостей для отображения.</li>
                {% endfor %}
            </ul>
        </aside>

        <!-- Главный контент -->
        <div class="main-content">
            <h2>Новости в категории "{{ category.title }}"</h2>
            {% for item in news %}
                <div class="news-item">
                    <h3 class="news-title">{{ item.title }}</h3>
                    <p class="news-content">{{ item.content|truncatechars:100 }}</p>
                    <p class="news-category">Категория: {{ item.category.title }} | Дата: {{ item.created_at|date:"d.m.Y" }}</p>
                    <a href="{% url 'news_page' item.id %}">Читать дальше</a>
                </div>
            {% empty %}
                <p>Новостей пока нет в этой категории.</p>
            {% endfor %}
        </div>
    </div>

</body>
</html>