{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Категории новостей</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Новости поп культуры</h1>
    </header>

    <div class="d-flex">
        <!-- Sidebar -->
        <div class="col-md-3">
            <aside class="sidebar">
                <a href="{% url 'home_page' %}" class="btn btn-home">Главная</a>
                <a href="{% url 'category_list' %}" class="btn btn-category-list">Категории</a>
                <h2>Категории</h2>
                <ul class="category-list">
                    {% for category in categories %}
                        <li>
                            <a href="{% url 'category_page' category.id %}">{{ category.title }}</a>
                        </li>
                    {% empty %}
                        <li>Нет категорий для отображения.</li>
                    {% endfor %}
                </ul>
                <h2>Последние новости</h2>
                <ul class="news-list">
                    {% for item in news_list %}
                        <li>
                            <a href="{% url 'news_page' item.id %}">{{ item.title }}</a>
                        </li>
                    {% empty %}
                        <li>Нет новостей для отображения.</li>
                    {% endfor %}
                </ul>
            </aside>
        </div>

        <!-- Главный контент -->
        <div class="main-content">
            <h2>Список категорий</h2>
            {% for category in categories %}
                <div class="news-item">
                    <!-- Category Title -->
                    <h3 class="news-title">{{ category.title }}</h3>
                    <p class="news-category">Количество новостей: {{ category.news_set.count }}</p>

                    <!-- Button to Open Category -->
                    <a href="{% url 'category_page' category.id %}" class="news-item">Открыть</a>
                </div>
            {% empty %}
                <p>Нет категорий для отображения.</p>
            {% endfor %}
        </div>
    </div>

</body>
</html>